# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd
__pycache__/

# Ignore virtual environment directories
env/
venv/
ENV/
VENV/

# Ignore data and checkpoint folders
data/
checkpoint/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore system files
.DS_Store
Thumbs.db